.Log-in-page {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

.Logo {
    margin-top: 0.8rem;
}

.Log-in-page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.95rem;
    margin: 2.13rem 5rem;
}

.Log-in-header-text-section {
    display: flex;
    justify-content: end;
}

.Log-in-header-text {
    color: #AAAAAA;
}

.Log-in-header-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.81rem;
}

.Sign-up-button {
    text-decoration: none;
}

.Log-in-header-button:hover {
    color: #3d81db;
}

.Log-in-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Log-in-main-section h2 {
    text-align: center;
    margin: 2.5rem 0;
    font-size: 1.7rem;
}

.Log-in-inputs {
    display: flex;
    flex-direction: column;
    width: 25.75rem;
}

.Log-in-input {
    height: 2.75rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    padding-left: 1.25rem;
    border: 0.06rem solid #ccc;
    margin-bottom: 0.63rem;
}

.Log-in-button {
    width: 25.75rem;
    height: 2.5rem;
    background-color: #5C9AEB;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5.63rem;
    border: none;
    cursor: pointer;
    margin-top: 1.25rem;
}

.Log-in-button:hover {
    background-color: #659fec;
}

.Divider-section {
    display: flex;
    align-items: center;
    width: 25.31rem;
    justify-content: space-between;
    color: #AAAAAA;
    font-size: 0.75rem;
    margin: 1.25rem 0;
}

.Divider {
    width: 11.75rem;
    border: 0.03rem solid #AAAAAA;
    height: 0;
}

.Social-media-input {
    height: 2.5rem;
    border-radius: 5.63rem;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.63rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.Facebook-log-in {
    border: 0.06rem solid #2871D2;
}

.Facebook-log-in:hover {
    color: #3179d6;
}

.Google-log-in {
    border: 0.06rem solid #A3A3A3;
    color: #A3A3A3;
    font-weight: bold;
}

.Google-log-in:hover {
    color: #b8b4b4;
}

.Forgot-password-text {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.63rem;
}

.Social-icon {
    width: 1.38rem;
    height: 1.38rem;
    border-radius: 6.25rem;
    margin-left: 0.38rem;
    margin-right: 6.56rem;
}

.Social-icon-google {
    margin-right: 7.06rem;
}