.Workspace-layout {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    width: 92.5rem;
}

.Workspace-main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}