.Welcome-page {
    width: 100%;
    height: 100vh;
    background-color: #F0F8FF;
    position: relative;
    overflow: hidden;
}

.Welcome-page-background {
    position: absolute;
    right: 0;
    width: 62%;
    height: 100vh;
    z-index: 0;
}

.Welcome-page-content {
    position: relative;
    padding: 1.88rem 5vw;
    z-index: 1;
    display: grid;
    gap: 6.88rem;
}