.Examples {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: #F0F8FF;
    border-top-right-radius: 100% 20.63rem;
    border-top-left-radius: 100% 20.63rem;
}

.Examples-header-text {
    padding: 6.25rem;
    text-align: center;
    font-size: 1.11rem;
}

.Example-text {
    padding-top: 0.63rem;
    max-width: 55%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    font-size: 1.25rem;
}

.Slider-arrow {
    background-color: #e6f0ff;
    border: none;
    border-radius: 50%;
    width: 3.13rem;
    height: 3.13rem;
    font-size: 1.56rem;
    cursor: pointer;
}

.Examples-photo_slider {
    height: 39.69rem;
    width: 32rem;
}

.Examples-slider {
    display: flex;
    margin: -2.81rem 25rem;
    justify-content: space-between;
    align-items: center;
}

.Slider-dots {
    display: flex;
    justify-content: center;
    gap: 0.63rem;
    margin-top: 3.75rem;
}

.Dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.Dot.active {
    background-color: #E83333;
}

.Call-to-action {
    font-size: 1.13rem;
    margin-top: 6.25rem;
    text-align: center;
}

.Red-text {
    color: #E83333;
}

.Call-to-action-text {
    margin-bottom: 3.13rem;
}

.Left-content-button {
    margin-bottom: 3.13rem;
}