.Modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Modal-content {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
}