.Competitors-page {
    display: flex;
    height: 100vh;
    background-color: #f5faff;
    overflow-y: hidden;
}

.Competitors-content {
    flex: 1;
    padding: 1.25rem 2.5rem;
    overflow-y: auto;
}

.Date-picker {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
}

.Competitors-block,
.Results-block {
    background-color: white;
    padding: 0.63rem;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 0.13rem 0.38rem rgba(0, 0, 0, 0.05);
}

.Competitors-block-title,
.Competitors-total,
.Results-block-title {
    display: flex;
    justify-content: space-between;
    padding: 0 1.88rem;
    color: #104FA2;
    font-size: 1.25rem;
    font-weight: lighter;
}

.Results-block-title {
    justify-content: flex-start;
    gap: 3.13rem;
}

.Competitors-block-metrics {
    padding-right: 1.19rem;
}

.Competitors-block-metrics,
.Competitors-metrics-total {
    display: flex;
    justify-content: space-between;
    gap: 6.25rem;
}

.Competitors-block-item,
.Results-block-accounts-item {
    display: flex;
    justify-content: space-between;
    padding: 0 1.88rem;
    color: #8E8E8E;
    font-size: 1.25rem;
    font-weight: bold;
    align-items: center;
}

.Competitors-account,
.Results-block-accounts-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.63rem;
}

.Competitors-account img,
.Results-block-accounts img {
    width: 2.38rem;
    height: 2.38rem;
}

.Competitors-account p,
.Results-block-accounts p {
    color: black;
    font-weight: lighter;
}

.Competitors-metrics-results {
    display: flex;
    justify-content: space-between;
    gap: 6.25rem;
}

.Competitors-total {
    color: #8E8E8E;
}

.Competitors-block-title,
.Competitors-block-item,
.Results-block-title {
    border-bottom: 0.06rem solid #EBEBEB;
}

.Results-metrics {
    display: flex;
    justify-content: space-between;
}

.Results-block-accounts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.Results-graphs img {
    width: 53.56rem;
    height: 18.94rem;
}