.Competitors-page-loaded {
    display: flex;
    height: 100vh;
    background-color: #f5faff;
    overflow-y: hidden;
}

.Competitors-content {
    flex: 1;
    padding: 1.25rem 2.5rem;
    overflow-y: auto;
}

.Date-picker {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
}

.Competitors-block {
    display: grid;
    grid-template-columns: 380px repeat(5, 1fr);
    align-items: center;
    font-size: 1.2rem;
    background-color: white;
    padding: 0.63rem 1.88rem;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
    box-shadow: 0 0.13rem 0.38rem rgba(0, 0, 0, 0.05);
}

.Competitors-title {
    font-size: 1.38rem;
    color: rgb(16, 79, 162);
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.Competitors-title:first-child {
    text-align: left;
}

.Competitor-row {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 380px repeat(5, 1fr);
    align-items: center;
    padding: 0.5rem 0;
    border-top: 1px solid #EBEBEB;
}

.Competitor-row p {
    text-align: center;
}

.Competitors-account {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
}

.Competitors-account img {
    width: 2.05rem;
    height: 2.05rem;
    border-radius: 50%;
}

.Competitors-account p {
    color: black;
    font-weight: lighter;
    font-size: 1.2rem;
}