.Enter-link-page {
    background-color: #ffffff;
}

.Enter-link-text {
    margin: 3.5rem 0 5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #104FA2;
    text-align: center;
}

.Enter-link-input,
.Enter-link-button {
    display: block;
    margin: 1rem auto;
}


.Enter-link-input {
    width: 30rem;
    padding: 1rem 1.5rem;
    border: 0.1rem solid #AAAAAA;
    border-radius: 2rem;
    background-color: transparent;
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.Enter-link-button {
    background-color: #E83333;
    color: white;
    padding: 1.2rem 2rem;
    border-radius: 2.19rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 550;
    cursor: pointer;
    width: 15rem;
}

.Enter-link-button:hover {
    background-color: #e73f3f;
}

.Enter-link-error {
    color: red;
    text-align: center;
    margin-bottom: 2rem;
}