.Welcome-page-main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.Left-content-header {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    width: 31.25rem;
}

.Left-content-text {
    font-size: 1.3rem;
    color: #444;
    margin-bottom: 3.75rem;
    max-width: 31.26rem;
}

.Left-content-button {
    background-color: #E83333;
    color: white;
    padding: 1.25rem 2.81rem;
    border-radius: 2.19rem;
    border: none;
    font-size: 1.3rem;
    font-weight: 550;
    cursor: pointer;
}

.Left-content-button:hover {
    background-color: #e23c3c;
}

.Blue-text {
    color: #104FA2;
    font-weight: bold;
}

.Welcome-page-img {
    width: 100%;
    max-width: 33.44rem;
    height: auto;
}